body {
  font-family: "Open Sans", sans-serif;
}
::placeholder {
  color: #b7c2ca;
  font-weight: 600;
}

input {
  text-transform: capitalize;
  border-color: #c5cfd7;
}
input:focus {
  outline: none;
}

main {
  color: #293944;
  gap: 20px;
}

main > section > #title {
  font-weight: 900;
}

#grid_layout {
  row-gap: 40px;

  text-transform: capitalize;
}
#card_body {
  height: 115px;
}

@media only screen and (max-width: 600px) {
  main > section > #title {
    font-size: 30px;
  }
  input {
    width: 50%;
  }
  #header {
    height: 150px;
  }
  ::placeholder {
    font-size: 15px;
  }
}

@media only screen and (min-width: 600px) {
  main > section > #title {
    font-size: 50px;
  }
  ::placeholder {
    font-size: 18px;
  }

  #header {
    height: 200px;
  }
  #container_card {
    width: 300px;
  }
  #grid_layout {
    column-gap: 120px;
  }
}
